name: build-controller
on:
  push:
    branches: [main]
    tags: ['[0-9][0-9][0-9][0-9].*']
  pull_request:
    branches: [main]
  repository_dispatch:
    types: [source_update]
  workflow_dispatch:
    inputs:
      image-tag:
        description: 'Tag to apply to the images'
        default: 'manual-build'
      mapchete-ref:
        description: 'mapchete ref'
        default: 'main'
      mapchete-eo-ref:
        description: 'mapchete-eo ref'
        default: 'main'
      mapchete-hub-ref:
        description: 'mapchete-hub ref'
        default: 'main'
      mapchete-hub-cli-ref:
        description: 'mapchete-hub-cli ref'
        default: 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mapchete:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mapchete
      # We pass the manual tag through the client_payload logic or handle it in the factory
      mapchete-ref: ${{ inputs.mapchete-ref }}
      mapchete-eo-ref: ${{ inputs.mapchete-eo-ref }}
      mapchete-hub-ref: ${{ inputs.mapchete-hub-ref }}
      mapchete-hub-cli-ref: ${{ inputs.mapchete-hub-cli-ref }}
    secrets: inherit

  mhub-cli-light:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-light
      mapchete-ref: ${{ inputs.mapchete-ref }}
      mapchete-eo-ref: ${{ inputs.mapchete-eo-ref }}
      mapchete-hub-ref: ${{ inputs.mapchete-hub-ref }}
      mapchete-hub-cli-ref: ${{ inputs.mapchete-hub-cli-ref }}
    secrets: inherit

  mhub-cli-full:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-full
      mapchete-ref: ${{ inputs.mapchete-ref }}
      mapchete-eo-ref: ${{ inputs.mapchete-eo-ref }}
      mapchete-hub-ref: ${{ inputs.mapchete-hub-ref }}
      mapchete-hub-cli-ref: ${{ inputs.mapchete-hub-cli-ref }}
    secrets: inherit