name: build-controller
on:
  push:
    branches: [main]
    tags: ['[0-9][0-9][0-9][0-9].*']
  pull_request:
    branches: [main]
  repository_dispatch:
    types: [source_update]
  workflow_dispatch:
    inputs:
      repo-core-ref:
        description: 'Manual override for mapchete ref'
        default: 'main'
      repo-eo-ref:
        description: 'Manual override for mapchete-eo ref'
        default: 'main'
      repo-hub-ref:
        description: 'Manual override for mapchete-hub ref'
        default: 'main'
      repo-cli-ref:
        description: 'Manual override for mapchete-hub-cli ref'
        default: 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mapchete:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mapchete
      repo-core-ref: ${{ inputs.repo-core-ref }}
      repo-eo-ref: ${{ inputs.repo-eo-ref }}
      repo-hub-ref: ${{ inputs.repo-hub-ref }}
      repo-cli-ref: ${{ inputs.repo-cli-ref }}
    secrets: inherit

  mhub-cli-light:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-light
      repo-core-ref: ${{ inputs.repo-core-ref }}
      repo-eo-ref: ${{ inputs.repo-eo-ref }}
      repo-hub-ref: ${{ inputs.repo-hub-ref }}
      repo-cli-ref: ${{ inputs.repo-cli-ref }}
    secrets: inherit

  mhub-cli-full:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-full
      repo-core-ref: ${{ inputs.repo-core-ref }}
      repo-eo-ref: ${{ inputs.repo-eo-ref }}
      repo-hub-ref: ${{ inputs.repo-hub-ref }}
      repo-cli-ref: ${{ inputs.repo-cli-ref }}
    secrets: inherit