name: docker build

on:
  push:
    branches: ['**']
    tags: ['[0-9][0-9][0-9][0-9].*']
  pull_request:
    branches: [main]
  repository_dispatch:
    types: [source_update]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    strategy:
      matrix:
        image-name: [mapchete, mhub-cli-light, mhub-cli-full]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check which image to build
        id: filter
        run: |
          if [[ "${{ github.event_name }}" == "repository_dispatch" ]]; then
            SOURCE="${{ github.event.client_payload.source_repo }}"
            TARGET="${{ matrix.image-name }}"
            if [[ "$TARGET" == "mapchete" ]]; then
              if [[ "$SOURCE" == "mapchete" || "$SOURCE" == "mapchete-eo" || "$SOURCE" == "mapchete-hub" ]]; then
                echo "run=true" >> $GITHUB_OUTPUT
              else
                echo "run=false" >> $GITHUB_OUTPUT
              fi
            elif [[ "$TARGET" == "mhub-cli-light" || "$TARGET" == "mhub-cli-full" ]]; then
              if [[ "$SOURCE" == "mapchete-hub-cli" ]]; then
                echo "run=true" >> $GITHUB_OUTPUT
              else
                echo "run=false" >> $GITHUB_OUTPUT
              fi
            else
              echo "run=false" >> $GITHUB_OUTPUT
            fi
          else
            echo "run=true" >> $GITHUB_OUTPUT
          fi

      - name: Log in to the Container registry
        if: steps.filter.outputs.run == 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        if: steps.filter.outputs.run == 'true'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/mapchete/${{ matrix.image-name }}
          tags: |
            type=raw,value=${{ github.event.client_payload.image_tag }},enable=${{ github.event_name == 'repository_dispatch' }}
            type=ref,event=tag,enable=${{ github.event_name != 'repository_dispatch' }}
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' && github.event_name != 'repository_dispatch' }}
            type=raw,value=dev,enable=${{ github.ref != 'refs/heads/main' && github.event_name != 'repository_dispatch' && github.event_name != 'pull_request' }}

      - name: Build and Push Image
        if: steps.filter.outputs.run == 'true'
        id: push
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.image-name }}/
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Dispatch Integration Tests
        # We only test the core 'mapchete' image
        if: steps.filter.outputs.run == 'true' && matrix.image-name == 'mapchete' && success()
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.MAPCHETE_PAT_CONTAINER_IMAGES_TOKEN }}
          repository: mapchete/container-images
          event-type: run_integration_tests
          client-payload: |
            {
              "image_tag": "${{ steps.meta.outputs.version }}"
            }