name: build controller
on:
  push:
    branches: [main]
    tags: ['[0-9][0-9][0-9][0-9].*']
  pull_request:
    branches: [main]
  repository_dispatch:
    types: [source_update]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  mapchete:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mapchete
    secrets: inherit
  mhub-cli-light:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-light
    secrets: inherit
  mhub-cli-full:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-full
    secrets: inherit