name: build-controller

on:
  push:
    branches: [main]
    tags: ['[0-9][0-9][0-9][0-9].*']
  pull_request:
    branches: [main]
  repository_dispatch:
    types: [source_update]
  workflow_dispatch:
    inputs:
      image-tag:
        description: 'Manual Tag override'
        default: 'manual-build'
      mapchete-ref:
        description: 'mapchete branch/tag'
        default: 'main'
      mapchete-eo-ref:
        description: 'mapchete-eo branch/tag'
        default: 'main'
      mapchete-hub-ref:
        description: 'mapchete-hub branch/tag'
        default: 'main'
      mapchete-hub-cli-ref:
        description: 'mapchete-hub-cli branch/tag'
        default: 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.client_payload.source_repo || github.ref }}
  cancel-in-progress: false

jobs:
  mapchete:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mapchete
      image-tag: ${{ inputs.image-tag }}
      mapchete-ref: ${{ inputs.mapchete-ref }}
      mapchete-eo-ref: ${{ inputs.mapchete-eo-ref }}
      mapchete-hub-ref: ${{ inputs.mapchete-hub-ref }}
      mapchete-hub-cli-ref: ${{ inputs.mapchete-hub-cli-ref }}
    secrets: inherit

  mhub-cli-light:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-light
      image-tag: ${{ inputs.image-tag }}
      mapchete-ref: ${{ inputs.mapchete-ref }}
      mapchete-eo-ref: ${{ inputs.mapchete-eo-ref }}
      mapchete-hub-ref: ${{ inputs.mapchete-hub-ref }}
      mapchete-hub-cli-ref: ${{ inputs.mapchete-hub-cli-ref }}
    secrets: inherit

  mhub-cli-full:
    uses: ./.github/workflows/_image-factory.yml
    with:
      image-name: mhub-cli-full
      image-tag: ${{ inputs.image-tag }}
      mapchete-ref: ${{ inputs.mapchete-ref }}
      mapchete-eo-ref: ${{ inputs.mapchete-eo-ref }}
      mapchete-hub-ref: ${{ inputs.mapchete-hub-ref }}
      mapchete-hub-cli-ref: ${{ inputs.mapchete-hub-cli-ref }}
    secrets: inherit