name: integration tests

on:
  repository_dispatch:
    types: [run_integration_tests]

jobs:
  test-mapchete:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mapchete-eo (Test Source)
        uses: actions/checkout@v4
        with:
          repository: mapchete/mapchete-eo
          token: ${{ secrets.MAPCHETE_PAT_CONTAINER_IMAGES_TOKEN }}

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests via UV
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REQUEST_PAYER: ${{ vars.AWS_REQUEST_PAYER }}
          AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
          CDSE_S3_ACCESS_KEY: ${{ secrets.CDSE_S3_ACCESS_KEY }}
          CDSE_S3_ACCESS_SECRET: ${{ secrets.CDSE_S3_ACCESS_SECRET }}
          CURL_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
        run: |
          IMAGE="ghcr.io/mapchete/mapchete:${{ github.event.client_payload.image_tag }}"
          docker pull $IMAGE

          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            -e VIRTUAL_ENV=/app/.venv \
            -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
            -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
            -e AWS_REQUEST_PAYER=$AWS_REQUEST_PAYER \
            -e AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION \
            -e CDSE_S3_ACCESS_KEY=$CDSE_S3_ACCESS_KEY \
            -e CDSE_S3_ACCESS_SECRET=$CDSE_S3_ACCESS_SECRET \
            -e CURL_CA_BUNDLE=$CURL_CA_BUNDLE \
            $IMAGE \
            /bin/bash -c "uv pip install pytest && uv pip install -e . && pytest"