name: registry cleanup
on:
  workflow_run:
    workflows: ["build controller"]
    types: [completed]
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
jobs:
  cleanup:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    permissions:
      packages: write
    strategy:
      matrix:
        image-name: [mapchete, mhub-cli-light, mhub-cli-full]
    steps:
      - name: Purge Untagged and Attestation Tags
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ORG="mapchete"
          PKG="${{ matrix.image-name }}"
          echo "Cleaning $ORG/$PKG..."
          TARGET_VERSIONS=$(gh api --paginate "/orgs/$ORG/packages/container/$PKG/versions" --jq '
            .[] | select(
              (.metadata.container.tags | length == 0) or 
              (.metadata.container.tags[] | startswith("sha256-"))
            ) | .id')
          if [ -z "$TARGET_VERSIONS" ]; then
            echo "Registry already clean."
          else
            for ID in $TARGET_VERSIONS; do
              echo "Deleting version: $ID"
              gh api --method DELETE "/orgs/$ORG/packages/container/$PKG/versions/$ID" || true
            done
          fi